body {
    overflow: hidden;
}
#character {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#terminal {
    z-index: 2;
    color: white;
    font-family: ui-monospace, monospace;
    position: fixed;
    background-color: black;
    min-width: 200px;
    width: auto;
    height: auto;
    top: 35px;
    left: 35px;
    border-radius: 8px;
    padding: 20px;
}
#terminal > div {
    display: flex;
    justify-content: start;
    gap: 10px;
}
#terminal > div > div {
    width: 18px;
    height: 18px;
    border-radius: 9999px;
}
#terminal-buddy {
    display: block;
    font-size: 6vw;
    padding: 0;
    margin: 10px 0;
}
#terminal-buddy:empty {
    margin: 0;
}
#terminal-text {
    display: block;
    padding: 0;
    margin: 0;
}
#codeterminal {
    z-index: 2;
    color: white;
    font-family: ui-monospace, monospace;
    position: fixed;
    top: 50vh;
    left: calc(50vw + 100px);
    transform: translate(0, -50%);
    transition: opacity 0.2s ease, scale 0.2s ease;
    opacity: 0;
    scale: 0.9;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#codeterminal.show {
    opacity: 1 !important;
    scale: 1 !important;
}
#codeterminal-title {
    background-color: rgb(32, 32, 32);
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    width: 70px;
    margin: 0;
}
#codeterminal-code {
    background-color: black;
    padding: 20px;
    border-radius: 0 8px 0 0;
    width: 30vw;
    margin: 0;
    
}
#codeterminal-code:focus {
    outline: 0px solid transparent;
}
#codeterminal-run {
    background-color: lightgreen;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    border: none;
    border: 2px solid green;
    transition: 0.2s;
    transform: none;
}
#codeterminal-run:hover {
    background-color: rgb(118, 201, 118);
}
#codeterminal-run:active {
    transform: scale(0.9);
    transform-origin: top;
}